<!doctype html>
<html>
<head>
    <title>Idea</title>
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>A Very Cool App Idea</h1>
    </header>
    <main class="landpage login">
        <span><a href="./signup">No log in? Sign-up here!</a></span>
        <form action="/login" method="post">
            <h2>Log-in</h2>
            <input type="text" name="email" id="email" placeholder="Log-in Email">
            <input type="text" name="password" id="password" placeholder="Log-in Password">

            <button type="submit">Log-In</button>
        </form>
    </main>

  <script src="main.js"></script>
</body>
</html>