<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>an App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>It really is a Cool App Idea</h1>
    </header>

    <main class="landpage signup">
        <span><a href="./">Have a log in? Get back here!</a></span>
        <form action="/signup" method="post">
            <h2>Sign-up</h2>
            <input type="text" name="name" class="name" placeholder="Name">
            <input type="text" name="email" id="email" placeholder="Email ">
            <input type="password" name="password" id="password" placeholder="Password">

            <button type="submit">Sign-Up</button>
        </form>
    </main>
    
    <script src="main.js"></script>
</body>
</html>